{{>header}}
<meta name="viewport" content="width = device-width, initial-scale = 1"
	charset="UTF-8" />
	
<div class="row index">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s3"><a href="#cliente">Clientes</a></li>
		</ul>
	</div>
	<div id="cliente" class="col s12">
		<ul class="right">
			<li><a href="/procurarCliente"
				class="waves-effect waves-light btn blue-grey lighten-1"><i
					class="material-icons left">search</i>Procurar Cliente</a></li>
		</ul>
		<table>
			<thead>
				<tr>
					<th>ID do Cliente</th>
					<th>Nome do Cliente</th>
					<th>Gênero</th>
					<th>Data de Nascimento</th>
					<th>Idade</th>
					<th>Nome da Cidade</th>
				</tr>
			</thead>
			<tbody>
				{{#clientes}}
					<tr>
						<td>{{id}}</td>
						<td>{{nomeCliente}}</td>
						<td>{{genero}}</td>
						<td>{{dataNascimento}}</td>
						<td>{{idade}}</td>
						<td></td>
					</tr>
				{{/clientes}}
			</tbody>
		</table>
	</div>
</div>

{{>footer}}
