{{>header}}
<meta name="viewport" content="width = device-width, initial-scale = 1"
	charset="UTF-8" />

	<th:block th:include="mensagemValidacao"></th:block>

	<div class="container cadastrar">
		<form action="/procurarCliente" class="form-inline">
			<div class="row">
				<div class="input-field col s8">
					<input type="text" class="form-control" name="nomeCliente"
						placeholder="Procurar Nome do Cliente" autofocus />
				</div>
				<div class="input-field col s4">
					<input type="submit" value="Procurar Cliente"
						class="waves-effect waves-light btn blue-grey lighten-1" />
				</div>
			</div>
		</form>
		<form action="/procurarId" class="form-inline">
			<div class="row">
				<div class="input-field col s8">
					<input type="text" class="form-control" name="id"
						placeholder="Procurar pelo Id do Cliente" pattern="[0-9]" title="Digite apenas valores numéricos"/>
				</div>
				<div class="input-field col s4">
					<input type="submit" value="Procurar Id Cliente"
						class="waves-effect waves-light btn blue-grey lighten-1" />
				</div>
			</div>
		</form>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome do Cliente</th>
					<th>Gênero</th>
					<th>Data de Nascimento</th>
					<th>Idade</th>
					<th>Nome da Cidade</th>
				</tr>
			</thead>
			<tbody>
				{{#cliente}}
					<tr>
						<td>{{id}}</td>
						<td>{{nomeCliente}}</td>
						<td>{{genero}}</td>
						<td>{{dataNascimento}}</td>
						<td>{{idade}}</td>
						<td></td>
					</tr>
				{{/cliente}}
			</tbody>
		</table>
	</div>

{{>footer}}
