{{>header}}
<meta name="viewport" content="width = device-width, initial-scale = 1"
	charset="UTF-8" />

	<th:block th:include="mensagemValidacao"></th:block>

	<div class="container cadastrar">
		<form method="post">
			Nome da Cidade: <input type="text" value="" name="nomeCidade"
				placeholder="Nome da Cidade" autofocus />
			<div class="row">
				<div class="input-field col s12">
					Estado: <input type="text" value="" name="estado"
						placeholder="Estado" />
				</div>
			</div>
			<button class="waves-effect waves-light btn" type="submit">Salvar</button>
		</form>
	</div>

{{>footer}}
