<!DOCTYPE html>
<html>
<head>
<title>Desafio</title>
<meta name="viewport" content="width = device-width, initial-scale = 1"
	charset=utf-8 />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" />
<link rel="stylesheet" href="style/styleCss.css" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
	
</script>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">Desafio Compasso FT</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/cadastrarCidades"
						class="waves-effect waves-light btn"><i
							class="material-icons left">add_circle_outline</i>Cadastrar
							Cidades</a></li>
					<li><a href="/cadastrarCliente"
						class="waves-effect waves-light btn"><i
							class="material-icons left">add_circle_outline</i>Cadastrar
							Cliente</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="row index">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a class="active" href="#cliente">Cliente</a></li>
			</ul>
		</div>
		<div id="cliente" class="col s12">
			<form action="/buscarCliente" class="form-inline">
				<div class="form-group mb-2">
					<input type="text" class="form-control" name="nomeCliente"
						placeholder="Procurar Nome do Cliente" /> <input type="submit"
						value="Procurar Cliente" class="waves-effect waves-light btn" />
				</div>
			</form>
			<form action="/buscarIdCliente" class="form-inline">
				<div class="form-group mb-2">
					<input type="text" class="form-control" name="idCliente"
						placeholder="Procurar pelo Id do Cliente" /> <input type="submit"
						value="Procurar Id Cliente" class="waves-effect waves-light btn" />
				</div>
			</form>
			<table class="container">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome do Cliente</th>
						<th>Gênero</th>
						<th>Data de Nascimento</th>
						<th>Idade</th>
						<th>Nome da Cidade</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente : ${cliente}">
						<td><span th:text="${cliente.idCliente}"></span></td>
						<td><span th:text="${cliente.nomeCliente}"></span></td>
						<td><span th:text="${cliente.genero}"></span></td>
						<td><span th:text="${cliente.dataNascimento}"></span></td>
						<td><span th:text="${cliente.idade}"></span></td>
						<td><span th:text="${cliente.cidades}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>
