<!DOCTYPE html>
<html>
<head>
<title>Desafio</title>
<meta name="viewport" content="width = device-width, initial-scale = 1"
	charset=utf-8 />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
	
</script>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Desafio Compasso FT</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/buscar" class="waves-effect waves-light btn"><i
							class="material-icons left">search</i>Buscar</a></li>
					<li><a href="/cadastrar" class="waves-effect waves-light btn"><i
							class="material-icons left">add_circle_outline</i>Cadastrar</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a class="active" href="#cidades">Cidades</a></li>
				<li class="tab col s3"><a href="#cliente">Cliente</a></li>
			</ul>
		</div>
		<div id="cidades" class="col s12">
			<table class="container">
				<thead>
					<tr>
						<th>Nome da Cidade</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
		<div id="cliente" class="col s12">
			<table class="container">
				<thead>
					<tr>
						<th>Nome do Cliente</th>
						<th>Gênero</th>
						<th>Data de Nascimento</th>
						<th>Idade</th>
						<th>Cidade</th>
						<th>Atualizar</th>
						<th>Deletar</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>
