<!DOCTYPE html>
<html>
<head>
<title>Desafio</title>
<meta name="viewport" content="width = device-width, initial-scale = 1"
	charset=utf-8 />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" />
<link rel="stylesheet" href="style/styleCss.css" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
	
</script>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">Desafio Compasso FT</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/buscarCliente"
						class="waves-effect waves-light btn"><i
							class="material-icons left">search</i>Buscar Cliente</a></li>
					<li><a href="/cadastrarCidades"
						class="waves-effect waves-light btn"><i
							class="material-icons left">add_circle_outline</i>Cadastrar
							Cidades</a></li>
					<li><a href="/cadastrarCliente"
						class="waves-effect waves-light btn"><i
							class="material-icons left">add_circle_outline</i>Cadastrar
							Cliente</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="row index">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a class="active" href="#cidades">Cidades</a></li>
				<li class="tab col s3"><a href="#cliente">Cliente</a></li>
			</ul>
		</div>
		<div id="cidades" class="col s12">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/buscarCidades"
					class="waves-effect waves-light btn"><i
						class="material-icons left">search</i>Procurar Cidades</a></li>
				<p>
				<li><a href="/buscarEstado"
					class="waves-effect waves-light btn"><i
						class="material-icons left">search</i>Procurar Estado</a></li>
			</ul>
			<table class="container">
				<thead>
					<tr>
						<th>Nome da Cidade</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cidades : ${cidades}">
						<td><span th:text="${cidades.nomeCidade}"></span></td>
						<td><span th:text="${cidades.estado}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="cliente" class="col s12">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/buscarCliente"
					class="waves-effect waves-light btn"><i
						class="material-icons left">search</i>Procurar Cliente</a></li>
				<p>
				<li><a href="/buscarIdCliente"
					class="waves-effect waves-light btn"><i
						class="material-icons left">search</i>Procurar pelo Id do Cliente</a></li>
			</ul>
			<table class="container">
				<thead>
					<tr>
						<th>Nome do Cliente</th>
						<th>Gênero</th>
						<th>Data de Nascimento</th>
						<th>Idade</th>
						<th>Nome da Cidade</th>
						<th>Atualizar</th>
						<th>Deletar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente : ${cliente}">
						<td><span th:text="${cliente.nomeCliente}"></span></td>
						<td><span th:text="${cliente.genero}"></span></td>
						<td><span th:text="${cliente.dataNascimento}"></span></td>
						<td><span th:text="${cliente.idade}"></span></td>
						<td><span th:text="${cliente.cidades}"></span></td>
						<td><a class="waves-effect waves-light btn-small blue"
							th:href="${(#mvc.url('CC#atualizarCliente').arg(0, cliente.idCliente)).build()}"><i
								class="material-icons left">update</i>Atualizar</a></td>
						<td><a class="waves-effect waves-light btn-small red"
							th:href="${(#mvc.url('CC#deletarCliente').arg(0, cliente.idCliente)).build()}"><i
								class="material-icons left">delete</i>Deletar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>
