<!DOCTYPE html>
<html>
<head>
<title>Desafio</title>
<meta name="viewport" content="width = device-width, initial-scale = 1"
	charset=utf-8 />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" />
<link rel="stylesheet" href="style/styleCss.css" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
	
</script>
</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">Desafio Compasso FT</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/cadastrarCidades"
					class="waves-effect waves-light btn"><i
						class="material-icons left">add_circle_outline</i>Cadastrar
						Cidades</a></li>
				<li><a href="/cadastrarCliente"
					class="waves-effect waves-light btn"><i
						class="material-icons left">add_circle_outline</i>Cadastrar
						Cliente</a></li>
			</ul>
		</div>
	</nav>

	<th:block th:include="mensagemValidacao"></th:block>

	<div class="container cadastrar">
		<form action="/buscarCidades" class="form-inline">
			<div class="row">
				<div class="input-field col s8">
					<input type="text" class="form-control" name="nomeCidade"
						placeholder="Nome da Cidade" autofocus />
				</div>
				<div class="input-field col s4">
					<input type="submit" value="Procurar Cidades"
						class="waves-effect waves-light btn" />
				</div>
			</div>
		</form>
		<form action="/buscarEstado" class="form-inline">
			<div class="row">
				<div class="input-field col s8">
					<input type="text" class="form-control" name="estado"
						placeholder="Estado" />
				</div>
				<div class="input-field col s4">
					<input type="submit" value="Procurar Estado"
						class="waves-effect waves-light btn" />
				</div>
			</div>
		</form>
		<table>
			<thead>
				<tr>
					<th>Nome da Cidade</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cidades : ${cidades}">
					<td><span th:text="${cidades.nomeCidade}"></span></td>
					<td><span th:text="${cidades.estado}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>
